.main{
	width: 100%;
	height: 100%;
	background-color:#F2F2F2;
	
}
.head{
	width: 100%;
	height: 10%;
	background-color:#F0F8FF;

	
}
.bottom{
	width: 100%;
	height: 89%;
	
	
}
*{
	margin:0px;
	border:0px;
	padding:0px;
}
.title{
	  position: absolute;    
      margin-left: 20px; /*要居中的div的宽度的一半*/  
      margin-top: 10px; /*要居中的div的高度的一半*/
}
.work{
	  position: absolute;    
      margin-left: 40px; /*要居中的div的宽度的一半*/  
      margin-top: 20px; /*要居中的div的高度的一半*/
}
a:link {
text-decoration: none;
color:black;

}
a:hover{ color:blue;
text-decoration:underline;

}
